RmsPM.Web/App_Themes/App_WebReferences/WorkFlowResult/WorkFlowResult.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpdateState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ApplicationCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApplicationState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shenheMan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shenheRemark" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="shenheDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateStateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateStateSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateState" />
  </wsdl:message>
  <wsdl:message name="UpdateStateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStateResponse" />
  </wsdl:message>
  <wsdl:portType name="WorkFlowResultSoap">
    <wsdl:operation name="UpdateState">
      <wsdl:input message="tns:UpdateStateSoapIn" />
      <wsdl:output message="tns:UpdateStateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WorkFlowResultSoap" type="tns:WorkFlowResultSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateState">
      <soap:operation soapAction="http://tempuri.org/UpdateState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WorkFlowResultSoap12" type="tns:WorkFlowResultSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateState">
      <soap12:operation soapAction="http://tempuri.org/UpdateState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WorkFlowResult">
    <wsdl:port name="WorkFlowResultSoap" binding="tns:WorkFlowResultSoap">
      <soap:address location="http://localhost/AspWebSevice/WorkFlowResult.asmx" />
    </wsdl:port>
    <wsdl:port name="WorkFlowResultSoap12" binding="tns:WorkFlowResultSoap12">
      <soap12:address location="http://localhost/AspWebSevice/WorkFlowResult.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>